<div class="aboutusPage">
    <div class="aboutUs">
        <h1>ABOUT OLIVE INVEST</h1>
        <p>
            Olive Invest is a leading Montenegro luxury real estate development company which quickly cultivated a reputation as a trendsetter. Olive Invest creates high-end residential, commercial, land and mixed-use projects known for originality, attention to detail, and rich quality of community life. Olive Invest develops projects that positively impact and improve lives. <br /><br />
            Each property they take on is selected carefully with a special vision in mind. <br />
            Their passion for Montenegro is displayed by their active role in charitable, civic, arts and cultural organizations.
        </p>
    </div>
</div>
<script>
    $(document).ready(function () {
     
        setHeight("#body");
        setHeight(".homePage");
    });

    $(window).resize(function () {
        setHeight("#body");
        setHeight(".aboutusPage");
    });

    function setHeight(element) {
        var totalHeight = $(window).height();
        var headerHeight = $("header").height();
        var footerHeight = $("footer").height();
        var b = totalHeight - headerHeight - footerHeight;
        $(element).height(b);
    }


</script>