<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
<div class="contactUs">
    <div class="contactForm">
        <h1>CONTACT FORM</h1>
        <p style="margin-bottom:30px;">For a full list of our offers or to inquire about future developments please get in touch using informations below. </p>
        <p>
            <input type="text" id="name" placeholder="Name" size="35"/>
            <input type="text" id="phone" placeholder="Phone (optional)" size="35" />
        </p>
        <br />
      
            <input type="text" id="email" placeholder="Email" size="35" />

        <br />
        <textarea placeholder="Type your message here" cols="40" rows="4"></textarea>
    </div>
</div>
