<script src="~/Scripts/CurrentDevelopment/CurDev.js"></script>
<script src="~/Scripts/CurrentDevelopment/CurrentDevelopment.js"></script>

<div class="currentHeadline">
    <h1>PONTUS HOTEL AND RESIDENCES</h1>
    <ul>
        <li class="forHavrz" id="descriptionBtn">DESCRIPTION ▼</li>
        <li class="forHavrz" id="floorplansBtn">FLOORPLANS ▼</li>
    </ul>
</div>
<div id="cont1">
    <p>Named after the Greek god of sea, Pontus, the luxury hotel and residences is set on the main <br />Tivat ponta (small jetty). Overlooking the blue waters of the bay, the 9 apartments with <br /> Adriatic inspired interiors and exclusive restaurant Pontus, appeal to all senses.</p>
</div>
<div id="cont2">
    <div id="floorMenu">
        <ul>
            <li><a class="planLink" id="garage"><span class="strelicaSpan"></span>GARAGE</a></li>
            <li><a class="planLink" id="groundFloor"><span class="strelicaSpan">►</span>GROUND FLOOR</a></li>
            <li><a class="planLink" id="firstFloor"><span class="strelicaSpan"></span>FIRST FLOOR</a></li>
            <li><a class="planLink" id="secondFloor"><span class="strelicaSpan"></span>SECOND FLOOR</a></li>
            <li><a class="planLink" id="roof"><span class="strelicaSpan"></span>ROOF</a></li>
        </ul>
    </div>
    <div id="plans">
        <img src="~/Images/Floor%20Plans/Ground%20Floor.png" />
    </div>

</div>

<div class="sliderButtons">
</div>
<div class="currentDev">
    <span class="mojText"></span>

</div>
<style>
    #preload-05 {
        background: url('/Images/CurrentBg/Hotel%20Pontus,%20Tivat%20-5.jpg') no-repeat -9999px -9999px;
    }

    #preload-04 {
        background: url('/Images/CurrentBg/Hotel%20Pontus,%20Tivat%20-4.jpg') no-repeat -9999px -9999px;
    }

    #preload-03 {
        background: url('/Images/CurrentBg/Hotel%20Pontus,%20Tivat%20-3.jpg') no-repeat -9999px -9999px;
    }

    #preload-02 {
        background: url('/Images/CurrentBg/Hotel%20Pontus,%20Tivat%20-2.jpg') no-repeat -9999px -9999px;
    }

    #preload-01 {
        background: url('/Images/CurrentBg/Hotel%20Pontus,%20Tivat%20-1.jpg') no-repeat -9999px -9999px;
    }
</style>
