<script src="~/Scripts/Slider/MySlider.js"></script>
<script src="~/Scripts/Home/Home.js"></script>
<div class="homePage">
    <div class="mojText"></div>
</div>
<div class="sliderButtons">
</div>
<style>
    #preload-03 {
        background: url('/Images/Backgrounds/Olive%20invest-Third%20slidet.jpg') no-repeat -9999px -9999px;
    }
    #preload-02 {
        background: url('/Images/Backgrounds/Olive%20invest-second%20slidet.jpg') no-repeat -9999px -9999px;
    }
    #preload-01 {
        background: url('/Images/Backgrounds/Olive%20invest-first%20slidet.jpg') no-repeat -9999px -9999px;
    }
</style>
