<div class="destinationPage">
    <div class="destinContent">
        <h1>DESTINATION BOKA BAY</h1>
        <p>Nested in between the cliffs of mount Lovcen and the Mediterranean waves, the Boka Bay <br/> represents a geographical miracle. Europe’s southernmost fjord, reflecting old town buildings and <br /> fortifications in its waters, is a UNESCO protected heritage site. The past and the present of this <br /> picturesque bay is characterized by a vibrant Mediterranean culture and rich maritime history.<br /><br />For more info visit: www.visitmontenegro.net</p>
    </div>
</div>
